doctype html
html(lang="en")
  head
    title Foundation Workshop
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="shortcut icon", href="favicon.ico")
    link(rel="stylesheet", href="css/bundle.css")
  
  body
    div.row
      div.small-4.column
        h1 SiteName
      div.small-8.column
        ul.inline-list.right.top-actions
          li.inline
            a.fi-mail(href="#")  Newsletter 
          li.inline
            a.fi-rss(href="#")  RSS 
          li.inline |
          li
           form.row.collapse
              .column.small-4
                label.inline Search...
              .column.small-6
                input.input-fix(type="text")
              .column.small-2
                a.button.postfix(href="#") go
    div.row
      dl.sub-nav
        dd.active
          a(href="") Home
        dd
          a(href="") Movies
        dd
          a(href="") Comics
        dd
          a(href="") Youtube
    
    div.row
      div.column.small-5
        include cols/col-1.jade
      div.column.small-4
      div.column.small-3  
     
