doctype html
html(lang="en")
  head
    title Foundation Workshop
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.0/css/foundation.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css")
    link(rel="stylesheet", href="css/custom.css")
  
  body
    div.row
      div.small-4
        <h1>SiteName</h1>
      div.small-8
        | hal
     
