article
 h4.black-box: | HAHAHA!
 div
   strong FUCKYOU
   span.muted.smally  | published 27/08/2014
 h3.subheader hallo
 p.muted Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim 
  div.row
  div.column.small-4
    span.fi-folder
     |  Hallo
  div.column.small-6
    ul.inline-list
      li: span.fi-pricetag-multiple
      li: a(href="") in
      li: a(href="") office
      li: a(href="") culpa
  div.column.small-12
    hr
    
article
  h4.black-box: | Oh gooody!
  div
    strong PROST!
    span.muted.smally  | published 27/08/2014
  h3.subheader wie gehts dir?
  p: img(src="http://fillmurray.com/g/600/250")
  p.muted: | Moingensn wie ghet es ihnen.
   div.row
   div.column.small-4
     span.fi-folder
      |  Hallo
   div.column.small-6
     ul.inline-list
       li: span.fi-pricetag-multiple
       li: a(href="") in
       li: a(href="") office
       li: a(href="") culpa
   div.column.small-12
     hr
        
article
 h4.black-box: | HAHAHA!
 div
   strong FUCKYOU
   span.muted.smally  | published 27/08/2014
 h3.subheader hallo
 p.muted Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim 
  div.row
  div.column.small-4
    span.fi-folder
     |  Hallo
  div.column.small-6
    ul.inline-list
      li: span.fi-pricetag-multiple
      li: a(href="") in
      li: a(href="") office
      li: a(href="") culpa
  div.column.small-12
